body {
	width: 100%;
	margin: 0;
}

.hero,
.sidekick,
footer {
	width: 100%;
	margin: 0;
	height: 300px;

}

header {
	background-color: #fff;	
	width: 100%;
	margin-right: auto;
	margin-left: auto;
	position: fixed;
}

header nav {
	/*position: fixed;*/
	width: 43rem;
	height: 4.375rem;
	margin: 0 auto;
}

nav img {
	width: 40px;
	height: 40px;
	margin-top: .9em;
}

nav ul {
	position: relative;
	bottom: 2em;
	text-align: right;
	width: 100%;
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
}

nav ul > :first-child {
	font-weight: bold;
}

nav ul li.gray {
	color: #aaa;
}

nav ul li {
	display: inline-block;
	padding-right: 1.5em;
	list-style-type: none;
}

.hero {
	background-image: url("http://thinkful-ed.github.io/karma-clone/img/first-background.jpg");
	background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    height: 45.938rem;
    overflow: auto;
}

.hero-head {
	width: 38em;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	padding-top: 16rem;
	line-height: 1em;
}

.hero-head h1 {
	font-family: 'Pontano Sans', sans-serif;
	font-weight: normal;
	font-size: 3.5em;
	color: #fff;
}

.hero-head p {
	font-family: 'Pontano Sans', sans-serif;
	font-weight: normal;
	font-size: 1.5em;
	color: #fff;
}

.hero-head button {
	font-family: 'Pontano Sans', sans-serif;
	background-color: orangered;
	color: white;
	font-size: 1.1em;
	border: none;
	border-radius: 5px;
	padding: 1em 2em;
	
}

.sidekick {
	height: 32.938rem;
}

.sidekick-content {
	width: 38em;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	padding-top: 4rem;
	font-size: 1.8em;
	font-family: 'Pontano Sans', sans-serif;
}

.sidekick-content ul li {
	display: inline-block;
}

.sidekick-content ul li img {
	width: 7.8rem;
	margin: 0 3rem;
}

.sidekick-content ul li p {
	text-align: center;
    font-size: 1em;
    width: 9rem;
    margin-left: 2rem;

}

footer {
	border: 2px solid purple;
}

